@import "../fonts/helveticanowbold/font.css";
@import "../fonts/helveticanowreg/font.css";
@import "variables.css";

/* General Styles */

body {
    font-family: 'HelveticaNowText-Regular', arial;
}

h1, h2, h3, h4, h5, h6, strong {
    font-family: 'HelveticaNowText-Bold', arial;
    font-weight: bold;
}

.bg-light {
    background-color: var(--light-color);
}

.flex {
    display: flex;
}

.action {
    transition: var(--transition);
    background-color: var(--action-color);
    padding: 12px 26px;
    border: none;
    display: flex;
    align-items: center;
}

.link-action {
    transition: var(--transition);
    background-color: var(--action-color);
    padding: 12px 26px;
    border: none;
    display: flex;
    align-items: center;
    color: black !important;
}

.link-action:hover {
    background-color: var(--primary-color);
    color: var(--light-color) !important;
    text-decoration: none !important;
}

.link-action:hover svg rect {
    fill: var(--light-color) !important;
}

.link-action svg {
    width: 15px;
    margin-left: 10px;
}

.action:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.action:hover svg rect {
    fill: var(--light-color) !important;
}

.action svg {
    width: 15px;
    margin-left: 10px;
}

.faded-submit {
    background-color: transparent;
    border: none;

}

.faded-submit svg {
    width: 15px;
    margin-left: 10px;
}

.red {
    color: red !important;
}

.green {
    color: green !important;
}

hr {
    color: var(--dark-color);
}

.highlight-text {
    color: var(--highlight-color-2) !important;
}


hr {
    margin-bottom: 40px;
    margin-top: 25px;
    height: 2px;
}


/* Page Layout */


.wrapper {
    width: 100%;
    min-height: 100vh;
    background-image: url("../images/Sekura_Background.jpg");
    background-size: cover;
    background-position: center;

    display:flex;
    flex-direction: column;
    justify-content: space-between;

    padding: var(--standard-padding);
}

.main-content {
    margin-top: var(--main-margin);
    margin-bottom: var(--main-margin);
}

.content-area {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    min-height: 40vh;

    padding: var(--standard-padding);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

@media (max-width: 600px){
    .content-area {
        padding: 20px;
    }
}

.content-area .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}





/* Header */

header .main-logo {
    width: 450px;
    max-width: 100%;
}



/* Footer */

footer {
 display: flex;
 justify-content: left;
 align-items: center;
}

footer .copy-area p {
    margin-bottom: 0;
}

@media (max-width: 600px){
    footer {
        flex-direction: column;
    }

    .footer-logo-area {
        margin-bottom: 20px;
    }
}

footer div {
    margin-right: 25px;
}

footer, footer a {
    color: var(--light-color);
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--light-color);
}

footer .footer-logo {
    width: 100px;
    max-width: 100%;
}







/* Content Layout */

.content-area .content-footer {
    display: flex;
    width: 100%;
    padding-top: 30px;
}

@media (max-width: 600px){
    .content-area .content-footer {
        flex-direction: column;
    }

    .content-area .content-footer .content-footer-area {
        margin-bottom: 20px;
    }

    .content-area .content-footer .action-area button {
        width: 100%;
        justify-content: center;
    }
}

.content-area .content-footer .content-footer-area {
    flex-grow: 1;
    display: flex;
    align-items: center;
}








/* Content */

.content-area p {
    color: var(--light-4-color);
}

.content-area .content-footer-area a {
    color: var(--light-4-color);
    text-decoration: none;
}

.content-area .content-footer-area a:hover {
    text-decoration: underline;
}

.content .item p {
    color: var(--dark-color);
    margin-bottom: 10px;
}

.content p {
    color: var(--dark-color);
}

.content .item .service-icon {
    width: 100%;
    /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
    padding: 7px;
}

.content .item .item-header p {
    margin-bottom: 0;
}

.content .item .item-line {
    display: flex;
    justify-content: space-between;
}

.content .item .item-line .line-icon {
    background-color: var(--light-2-color);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .item .item-line .line-icon svg {
    color: var(--highlight-color-2);
}





/* Forms */

form select.form-select {
    border: 2px solid var(--dark-color);
}

form input[type="text"], form input[type="password"], form input[type="telephone"] {
    background-color: var(--light-2-color);
    border: none;
    border-radius: 8px;
    height: 40px;
}

form input[type="text"]::placeholder, form input[type="password"]::placeholder, form input[type="telephone"]::placeholder {
    color: var(--light-4-color);
}

form .form-control:focus , form .form-select:focus {
    border-color: var(--primary-color);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(40 40 85 / 25%);
}

.warnings {
    padding-top: 20px;
    padding-bottom: 20px;
}

.warnings p {
    margin-bottom: 5px;
}



input[type="checkbox"]:checked + label {
    /*background-color: green;*/
}

.custom-check .custom-label {
    display: flex;
    align-items: center;
}

.custom-check .custom-label img {
    width: 60px;
    /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
    padding: 7px;
}

.custom-check .custom-label .custom-check-circle {
    background-color: var(--light-2-color);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.custom-check .custom-label {
    cursor: pointer;
}

.custom-check .custom-label p {
    margin-bottom: 0;
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--dark-color);
}

input[type="checkbox"]:checked + label .custom-check-circle .inner-circle {
    background-color: var(--highlight-color);
    border-radius: 50%;
    height: 18px;
    width: 18px;
}


.additional-fields {
    display: none;
    padding-left: 80px;
    padding-right: 80px;
}

@media (max-width: 600px){
    .additional-fields {
        padding-left:0;
        padding-right: 0;
        padding-top: 20px;
    }
}

input[type="checkbox"]:checked + label + div {
    display: block;
}

.additional-fields input {
    margin-bottom: 8px;
}