@font-face {
  font-family: 'HelveticaNowText-Bold';
  src: url('HelveticaNowText-Bold.eot');
  src: url('HelveticaNowText-Bold.eot?#iefix') format('embedded-opentype'),
       url('HelveticaNowText-Bold.svg#HelveticaNowText-Bold') format('svg'),
       url('HelveticaNowText-Bold.ttf') format('truetype'),
       url('HelveticaNowText-Bold.woff') format('woff'),
       url('HelveticaNowText-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

